<!DOCTYPE html>
<html ng-app="GW2Armory" ng-controller="MainController" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GW2 Armory - Character Info</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/gw2armory.css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- AngularJS -->
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/ngStorage.js"></script>
	<!-- Custom JS files -->
	<script type="text/javascript" src="character.js"></script>
</head>
<body>

	<div>{{error}}</div>

	<div class="character" >

		<div class="info">
			<div ng-class="character.profession" class="prof-icon"></div>
			<div class="character-name"><h1>{{character.name}}</h3></div>
			<div class="character-level">Niveau : {{character.level}}</div>
			<div class="sub-info">
					<div class="character-race">Race : {{character.race}}</div>
					<div class="character-profession">Profession : {{character.profession}}</div>
					<div class="character-gender">Genre : <img ng-src="img/{{character.gender}}.png"></img></div>
					<div class="character-created">Création : {{character.created | date}}</div>
					<div class="character-deaths">Morts : {{character.deaths}}</div>
			</div>
		</div>

		<div class="armory" ng-class="character.race">
			<div ng-repeat="(name,item) in equipments" ng-class="[name,item.rarity]" class="item">
				<img ng-src="{{item.icon}}"></img>
				<div class="item-description">
					<h2>{{item.name}} <span ng-repeat="upgrade in item.upgrades"> {{upgrade.suffix}}</span></h2>
					<p ng-repeat="attribut in item.attributes">{{attribut.attribute}} : +{{attribut.modifier}}</p>
					<div class="upgrades">
						<div ng-repeat="infusion in item.infusions">
							 <img ng-src="{{infusion.icon}}" ></img><span ng-class="infusion.rarity">{{infusion.name}}</span>
							 <p>{{infusion.buff}}</p>
						 </div>
					</div>
					<div class="upgrades">
						<div ng-repeat="upgrade in item.upgrades">
							 <img ng-src="{{upgrade.icon}}" ></img><span ng-class="upgrade.rarity">{{upgrade.name}}</span>
							 <p ng-repeat="bonus in upgrade.bonuses">{{bonus}}</p>
						 </div>
					</div>
				</div>

			</div>
		</div>

	</div>


	<div class="panel panel-default" style="display:none;">
		<div class="panel-heading">Character jobs</div>
		<div class="panel-body">
			<div ng-repeat="job in character.crafting">
				<span>{{job.discipline}}</span>
				<div>Niveau : {{job.rating}} - Actif : {{job.active}}</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default" style="display:none;">
		<div class="panel-heading">Character specialisations</div>
		<div class="panel-body">
			<div ng-repeat="(name,traits) in character.specializations">
				<div><span>{{name}}</span> : Aptitudes {{traits}}</div>
			</div>
		</div>
	</div>

</div>
</body>
</html>
